/* Footer.module.css */

.container {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  height: 50vh;
  padding-bottom: 5rem; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:100;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;

}

.icon {
  font-size: 24px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out;
  width: 50px;
height: 50px;
}

.icon:hover {
  color:#79946f; /* Change the color on hover */
}

.img{
  overflow: hidden;
  width: 300px;
  height: 300px;
}